/*.btn {*/
/*    -fx-border-width: 1px ;*/
/*    -fx-border-style: solid;*/
/*    -fx-border-color: transparent;*/
/*    -fx-padding: 6px 12px;*/
/*    -fx-font-size: 14px;*/
/*    -fx-line-height: 1.42857143;*/
/*    -fx-border-radius: 4px;*/
/*    -fx-color: #fff;*/
/*    -fx-background-color: #5cb85c;*/
/*    -fx-border-color: #4cae4c;*/
/*    -fx-content-display:center;*/
/*}*/

/*.txt {*/
/*    -fx-width: 100%;*/
/*    -fx-height: 34px;*/
/*    -fx-padding: 6px 12px;*/
/*    -fx-font-size: 14px;*/
/*    -fx-line-height: 1.42857143;*/
/*    -fx-color: #555;*/
/*    -fx-background-color: #fff;*/
/*    -fx-background-image: none;*/
/*    -fx-border-width: 1px ;*/
/*    -fx-border-style: solid;*/
/*    -fx-border-color: rgba(82,168,236,.8);*/
/*    -fx-border-radius: 4px*/
/*}*/

/*.label {*/
/*    -fx-max-width: 100;*/
/*    -fx-font-weight: 700;*/
/*}*/

/*.title {*/
/*    -fx-font-size: 36px;*/
/*    -fx-font-family: "Roboto Light" ;*/
/*}*/

/*.body{*/
/*    -fx-background: #007bff;*/
/*}*/
/*.card{*/
/*    -fx-background-color: white;*/
/*    -fx-border: 0;*/
/*    -fx-border-radius: 1px;*/
/*    -fx-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);*/

/*}*/

.txt:focused{
    -fx-border-color: #6ED9A0;
    -fx-highlight-text-fill: white;
}
.txt{
    -fx-prompt-text-fill: white;
    -fx-text-fill: #FBFCFC;
}